// COLORS 
$color-primary-light: #b89ebd;
$color-primary-dark: #69495d;

$color-white:#fff;
$color-black: #000;
$color-default-font: #464545;

$color-body-background:rgb(221, 219, 219);

//  GRID

$grid-width: 100rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;

// FONT SIZES

$default-font-size: 1.6rem;

// FONT STYLES

$background-gradient: linear-gradient(to right, rgba($color-white, .35), rgba($color-primary-dark, .35));