@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Fira+Sans:wght@100;300;400;700&family=Inter:wght@100;300;400;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Fira+Sans:wght@100;300;400;700&family=Inter:wght@100;300;400;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  position: relative; }

body {
  line-height: 1; }

body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  color: #464545;
  line-height: 1.7;
  padding: .5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .75rem;
  display: inline-block;
  color: #69495d;
  padding: 1rem; }

.heading-tertiary {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #b89ebd, #69495d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.section-education .heading-tertiary span {
  color: #464545;
  font-size: 1rem;
  letter-spacing: .1rem; }

.u-center-text {
  text-align: center; }

.u-center {
  margin: 0 auto; }

.u-padding-top-big {
  padding-top: 12rem; }

.projects {
  position: relative;
  width: 100%; }
  .projects__card {
    background-color: #dddbdb;
    color: #69495d;
    text-align: center;
    height: 46.5rem;
    width: 33.33333%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute; }
    .projects__card hr {
      border: 0;
      clear: both;
      display: block;
      width: 60%;
      background-color: #b89ebd;
      height: 1px; }
    .projects__card p {
      padding: 3rem; }
    .projects__card a {
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s;
      width: 40%;
      margin: 1rem auto;
      border-radius: 10px; }
      .projects__card a:hover {
        background-color: #fff;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        transform: translateY(-0.5rem); }
      .projects__card a:active {
        color: #69495d;
        transform: translateY(-0.25rem); }
    .projects__card--mytime {
      top: -90rem;
      left: 1rem; }
    .projects__card--owskinpicker {
      top: -91rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
      height: 48.5rem; }
    .projects__card--codepen {
      top: -90rem;
      right: 1rem; }
  .projects__photo {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 25rem; }
    .projects__photo--1 {
      background-image: url(/img/mytime.png); }
    .projects__photo--2 {
      background-image: url(/img/skinpickerimage.png); }
    .projects__photo--3 {
      background-image: url(/img/codepenportfolio.png); }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 5rem) / 3) * 2 + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + (5rem * 2)); }

.header {
  margin-bottom: 30rem;
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(184, 158, 189, 0.8), rgba(105, 73, 93, 0.85)), url(https://images.unsplash.com/photo-1433863448220-78aaa064ff47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80);
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 0;
  clip-path: polygon(100% 0, 100% 100%, 50% 60%, 0 100%, 0 0); }
  .header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 3rem; }
  .header__logo {
    height: 12rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#b89ebd, #69495d);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  margin: 1rem;
  list-style-type: none; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #b89ebd;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #69495d;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 80%;
  background-color: #dddbdb;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative; }

.about__shape {
  width: 10rem;
  height: 10rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translate(-3rem, -50%);
  position: absolute;
  top: 7.5rem;
  left: 6.5rem; }

.about__image {
  height: 100%;
  transform: translate(1.65rem, 1rem) scale(1.5);
  backface-visibility: hidden; }

.about__text {
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translateY(-50%); }

.about__heading {
  text-align: center; }

.contact__logo {
  display: flex;
  justify-content: center;
  height: 20rem; }

.contact__icons {
  display: flex;
  justify-content: center; }
  .contact__icons a {
    font-size: 2.5rem;
    color: #464545; }
    .contact__icons a:not(:last-child) {
      margin-right: 2rem; }

.contact__copyright {
  padding-top: 2rem; }

.section-projects {
  height: 95vh; }
  .section-projects__background {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(184, 158, 189, 0.8), rgba(105, 73, 93, 0.85)), url(https://images.unsplash.com/photo-1433863448220-78aaa064ff47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 0;
    clip-path: polygon(50% 60%, 100% 0, 100% 100%, 0 100%, 0 0); }

.section-education {
  background-color: #dddbdb;
  margin-top: -15rem; }
  .section-education p {
    float: right;
    padding: 1rem;
    text-align: right; }
  .section-education hr {
    border: 0;
    clear: both;
    display: block;
    width: 95%;
    background-color: #b89ebd;
    height: 1px; }

.section-about {
  height: 30rem;
  background-image: linear-gradient(to right, #b89ebd, #69495d); }

.section-contact {
  height: 30rem;
  background-color: #dddbdb; }
